<!-- <p>search works!</p> -->
<!-- <div class="contain mt-5 p-5">
  <form [FormGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-lg-10">
        <input
          type="text"
          class="form-control"
          placeholder="Search Movie Here..."
        />
      </div>
      <div class="col-lg-2"><button class="btn btn-md">Search</button></div>
    </div>
  </form>
</div> -->

<!-- <form class="mt-5 p-3" (ngSubmit)="submitForm()">
  <div class="search-box">
    <i class="fa fa-search" aria-hidden="true"></i
    ><input
      type="email"
      class="form-control"
      formControlName="searchMovies"
      placeholder="Search Msovies Here......."
    />
  </div>
</form> -->
