<app-navbar></app-navbar>

<div class="movies-page">

  <!-- HEADER -->
  <section class="movies-header">

    <span class="section-label">CIRAMA</span>

    <h1>Movies</h1>

    <p>
      Explore movies and find something to watch.
    </p>

  </section>


  <!-- POPULAR -->
  <section
    class="movie-section"
    *ngIf="movies?.length"
  >

    <div class="section-header">

      <div>
        <span class="section-label">POPULAR</span>
        <h2>Popular Movies</h2>
      </div>

    </div>


    <div class="movie-grid">

      <div
        class="movie-card"
        *ngFor="let movie of movies"
        (click)="goToMovieDetails(movie.id)"
      >

        <div class="poster-wrapper">

          <img
            *ngIf="movie.poster_path"
            [src]="
              'https://image.tmdb.org/t/p/w500/' +
              movie.poster_path
            "
            [alt]="movie.title"
          />

          <div class="movie-overlay">

            <div class="play-button">
              <i class="fa fa-play"></i>
            </div>

          </div>

        </div>


        <div class="movie-info">

          <h3>
            {{ movie.title }}
          </h3>

          <span>
            <i class="fa fa-star"></i>
            {{ movie.vote_average | number:'1.1-1' }}
          </span>

        </div>

      </div>

    </div>

  </section>


  <!-- NOW PLAYING -->
  <section
    class="movie-section"
    *ngIf="now_playing_movies?.length"
  >

    <div class="section-header">

      <div>
        <span class="section-label">NOW</span>
        <h2>Now Playing</h2>
      </div>

    </div>


    <div class="movie-grid">

      <div
        class="movie-card"
        *ngFor="let movie of now_playing_movies"
        (click)="goToMovieDetails(movie.id)"
      >

        <div class="poster-wrapper">

          <img
            *ngIf="movie.poster_path"
            [src]="
              'https://image.tmdb.org/t/p/w500/' +
              movie.poster_path
            "
            [alt]="movie.title"
          />

          <div class="movie-overlay">

            <div class="play-button">
              <i class="fa fa-play"></i>
            </div>

          </div>

        </div>


        <div class="movie-info">

          <h3>
            {{ movie.title }}
          </h3>

          <span>
            <i class="fa fa-star"></i>
            {{ movie.vote_average | number:'1.1-1' }}
          </span>

        </div>

      </div>

    </div>

  </section>


  <!-- TOP RATED -->
  <section
    class="movie-section"
    *ngIf="top_rated?.length"
  >

    <div class="section-header">

      <div>
        <span class="section-label">RATED</span>
        <h2>Top Rated</h2>
      </div>

    </div>


    <div class="movie-grid">

      <div
        class="movie-card"
        *ngFor="let movie of top_rated"
        (click)="goToMovieDetails(movie.id)"
      >

        <div class="poster-wrapper">

          <img
            *ngIf="movie.poster_path"
            [src]="
              'https://image.tmdb.org/t/p/w500/' +
              movie.poster_path
            "
            [alt]="movie.title"
          />

          <div class="movie-overlay">

            <div class="play-button">
              <i class="fa fa-play"></i>
            </div>

          </div>

        </div>


        <div class="movie-info">

          <h3>
            {{ movie.title }}
          </h3>

          <span>
            <i class="fa fa-star"></i>
            {{ movie.vote_average | number:'1.1-1' }}
          </span>

        </div>

      </div>

    </div>

  </section>


  <!-- UPCOMING -->
  <section
    class="movie-section"
    *ngIf="upcoming?.length"
  >

    <div class="section-header">

      <div>
        <span class="section-label">UPCOMING</span>
        <h2>Coming Soon</h2>
      </div>

    </div>


    <div class="movie-grid">

      <div
        class="movie-card"
        *ngFor="let movie of upcoming"
        (click)="goToMovieDetails(movie.id)"
      >

        <div class="poster-wrapper">

          <img
            *ngIf="movie.poster_path"
            [src]="
              'https://image.tmdb.org/t/p/w500/' +
              movie.poster_path
            "
            [alt]="movie.title"
          />

          <div class="movie-overlay">

            <div class="play-button">
              <i class="fa fa-play"></i>
            </div>

          </div>

        </div>


        <div class="movie-info">

          <h3>
            {{ movie.title }}
          </h3>

          <span>
            <i class="fa fa-star"></i>
            {{ movie.vote_average | number:'1.1-1' }}
          </span>

        </div>

      </div>

    </div>

  </section>

</div>
