/* .carousel-inner{
 height: 700px;
} */
.container-fluid{
    background-color: rgb(248, 248, 248);
}
.carousel-inner .carouse-item img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.carousel-caption h1{
    color: red;
    font-weight: bold;
}
.text{
    color: red;
}

.rowposter{
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 20px;
}
 
.rowing{
    max-height: 50px;
    object-fit: contain;

}

.poster{
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: border-box;
    transition: transform 450ms;
    margin-right: 8px;
    margin-top: 9px;
    margin-bottom: 20px;
}

.largeposter{
    max-height: 300px;
}

h2{
    color: red;
}

.contain{
    background-color: black;
    backdrop-filter: blur(20px);
    background: transparent; 
    margin-bottom: 10px;
}

.poster:hover{
    transform: scale(1.09);
    cursor: pointer;
}

.now-playing-section {
    margin-bottom: 10px; 
}

.top-rated-section {
    margin-bottom: 10px; 
}

.upcoming-movies-section {
    margin-bottom: 10px; 
}